.left-menu
  .profile
    a(href='MyInfo_student')
      h2 #{stu_name}
    a(href='logout')
      | logout
  hr
  .menu
    .m1
      | 휴가 관리
      ul.m2
        li
          a(href='RestReport') 휴가 신청
        li
          a(href='RestSelect') 휴가 조회
